.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Righteous' ;
    font-family: 'Roboto';
    
    
    
}

main {
    width: 600px;
    height: 400px;
    display: flex;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.212);
}
h1 {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    
}

h2 {
    color: white;
    margin-bottom: 30px;
}   

h3 {
    color: white;
}

.leftSide {
    width: 50%;
    height: 100%;
    background-color: hsla(256, 72%, 46%, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
}

.rightSide {
    width: 50%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

p {
    color: white;
    text-align: center;
    display: flex;
    
    
   
}
h4 {
    font-size: 12px;
    color: rgb(107, 104, 104);
    justify-content: center;

   
}


.circle {
    font-size: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.300), hsla(256, 72%, 46%, 1));
    justify-content: center;
    align-items:  baseline;
    position: relative;
}

.numerocirc {
    display: flex;
    text-align: justify;
    position: absolute;
    transform: translate(50,50);
}

button {
    width: 250px;
    height: 50px;
    background-color: hsl(228, 78%, 13%);
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: linear-gradient(0deg, hsla(256, 72%, 46%, 1),rgb(126, 31, 214));
}

.summary {
    font-size: 20px ;
    width: 100%;
    padding-left: 26px;
}

.para {
    padding: auto;
    color: black;
    margin-bottom: 60px;
    display: flex;
    justify-content: right;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.numerozinho {
    color: grey;
}

.numerozinho > b {
    color: black;
}

.elementosSumario {
    display: flex;
    background-color: rgb(219, 191, 191);
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 8px;
}
.elementosSumario1{
    background-color: rgb(223, 193, 193);
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 8px;
    display: flex;

}
.elementosSumario2{
    display: flex;
    background-color: rgb(217, 219, 207);
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 8px;

}

.elementosSumario3{
    background-color: rgb(210, 224, 206);
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
}

.elementosSumario4{
    background-color: rgb(193, 191, 201);
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 8px;
    display: flex;

}

.reverse {
   align-items: flex-end;
    justify-content: center;
    display: flex;
}

.border {
    background-color: gray;
    border: 2 solid black;
    padding: 20px;
}

.dentro {
    display: flex;
   font-size: 60px;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    color: white;
    font-family: 'Righteous' ;
}

.dentroof {
    font-size: 10px;
    display: flex;
    justify-content: center ;
    margin-top: 2px;
   font-family:'Roboto';
}